.hero-container {
    max-width: 1100px;
    width: 100%;
    margin: auto;

}

.home {
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900)
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    max-height: 400px;
    text-align: center;
    position: relative;

}

h3.intro {
    font-size: 28px;
    margin: 15px 0;
}

.home .home-img img {
    height: 400px;

}