@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Setting global coloring variables */
:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}


body {

    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;

}

/* Universal styling */
* {
    margin: 0;
    padding: 0;
    outline: none;
    /* removing underline from links */
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}


.main-content {
    padding-left: 270px;

}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.hidden {
    display: none !important;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;

}


section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}

.section .container {
    padding-top: 60px;
    padding-bottom: 70px;

}



.button {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: var(--skin-color);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    transition: all 0.3s ease;
}

.button:hover {
    transform: scale(1.05);
}

.shadow-dark {
    box-sizing: 0 0 20px rhba(48, 46, 77, 0.15);
}